@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap");

:root {
  font-family: "Work Sans", sans-serif !important;
  --main-color: #585858;
  --first-color: #e4e4e4;
  --help-color: #828080;
  background-color: var(--main-color) ;
}

body{
  background-color: var(--main-color) !important;
}

body,
h1,
h2,
h3,
h4,
p,
li,
ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80vw;
  margin: auto;
}
header h1{
  font-size: 1.9rem;
  font-weight: 500;
}

header h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

/* HEADER MOBILE */
header .header-nav {
  margin-top: 25px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-nav img {
  width: 10vw;
}

header .header-nav .contacts {
  display: none;
}

header .header-nav .tel {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--first-color);
}

header .header-nav .nav-mobile{
  display: block !important;
}

header .slider {
  width: 100%;
  height: 70vh;
  background-image: url("../img/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

header .slider .slide {
  display: none;
}

header .slider .info {
  width: 80%;
  margin: auto;
  padding: 25px;
  background-color: rgba(125, 122, 122, 71%);
  text-align: center;
  color: var(--first-color);
}
/* /HEADER MOBILE */

/* NAV MOBILE */
nav {
  display: none !important;
}
/* END NAV */

@media (min-width: 720px) {
  /* MEDIA FOR LAPTOP*/
  /* HEADER */
  header .header-nav .nav-mobile {
    display: none !important;
  }
  header .header-nav .contacts {
    display: inline-block;
  }

  header .header-nav .contacts a {
    display: block;
    padding: 10px 18px;
    text-decoration: none;
    color: var(--first-color);
    font-size: 1.5rem;
    background-color: black;
  }

  header .header-nav .contacts a:hover {
    background-color: var(--first-color);
    color: black;
  }

  header .header-nav {
    justify-content: flex-end;
  }

  header .header-nav img {
    width: 70px;
  }

  header .header-nav .logo {
    flex-grow: 1;
  }

  header .header-nav .tel {
    margin-right: 25px;
    color: black;
    font-weight: 500;
  }

  header .slider {
    margin-top: -114px;
  }
  header .slider .info {
    display: block;
    width: 60%;
    top: 0;
    margin: 0;
  }
  header .slider .container {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    top: 27%;
  }
  header .slider .slide {
    display: flex;
    justify-content: space-between;
    width: 80px;
  }

  header .slider .slide .circle {
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  header .slider .slide .circle:hover {
    background-color: var(--main-color);
  }
  /* END HEADER */
  /* NAV */
  nav {
    display: block !important;
    margin-top: 25px;
  }
  nav .container {
    display: flex;
    justify-content: space-between;
  }
  nav .collection-nav {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: black;
    background-color: var(--help-color);
    display: block;
    line-height: 60px;
    border-right: 1px solid black;
    padding: 0 20px;
  }
  nav li a:hover {
    background-color: black;
    color: var(--first-color);
  }

  nav .order-nav {
    display: flex;
  }
  nav .order-nav li {
    padding: 0 10px;
    background-color: var(--help-color);
    margin: 5px;
  }
  nav .order-nav li:hover {
    background-color: var(--first-color);
  }
  nav .order-nav img {
    width: 50px;
  }
  /* END NAV */
  main .goods .item .item-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  main .goods .item p {
    margin-left: 15px;
  }

  main .goods .item .favorite img {
    width: 100%;
    display: block;
    border-left: 1px solid black;
    padding: 2px;
  }

  main .goods .item .favorite {
    display: flex;
  }

  main .goods .item .favorite img {
    width: 50px;
  }

  .favorite img:hover {
    background-color: var(--first-color);
    cursor: pointer;
  }
  /* END MAIN */
  /* END MEDIA 768 HEADER*/
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
/* MAIN GOODS MOBILE*/
main .goods {
  margin-top: 35px;
}
main .collectoin .item img {
  display: block;
  width: 100%;
}

main .collectoin {
  width: 80%;
  margin: auto;
}
/* END MAIN GOODS */
@media (min-width: 520px) {
  main .collectoin {
    width: 100%;
    margin: auto;
  }
  main .collectoin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
  }
}

@media (min-width: 720px) {
  main .collectoin {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 980px) {
  main .collectoin {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* MOBILE SCROLL GOODS */
main .goods .scroll-goods-desktop {
  display: none;
}

main .goods .favorite {
  display: none;
}

main .goods .item-price {
  text-align: center;
  font-size: 1.2rem;
  background-color: var(--help-color);
  padding: 25px 0;
}
main .goods .item {
  margin-top: 20px;
}

main .goods .scroll-goods-mobile {
  display: flex;
  justify-content: center;
  margin: 35px 0px;
}

main .goods .scroll-goods-mobile .button-more {
  display: inline-block;
  padding: 0.8em 5em;
  background-color: black;
  color: var(--first-color);
  font-size: 1rem;
  border: none;
}
/* END MOBILE SCKOLL GOODS*/

@media (min-width: 720px) {
  /* MEDIA SCROLL GOODS */
  main .goods .scroll-goods-mobile {
    display: none;
  }

  main .goods .scroll-goods-desktop {
    width: 100%;
    margin: 1.5em 0em;
    display: flex;
    justify-content: center;
  }

  main .goods .scroll-goods-desktop .num {
    padding: 0.3em;
    font-size: 1.1rem;
  }

  main .goods .scroll-goods-desktop .num:hover {
    background-color: var(--help-color);
    cursor: pointer;
  }
  /* END MEDIA 760px SCROLL GOODS */
}

/* MOBILE PARALLAX */
.parallax {
  width: 100%;
  height: 30vh;
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* END MOBILE PARALLAX */

/* ABOUT MOBILE */
.about h2 {
  color: var(--first-color);
  text-align: center;
  margin: 25px 0px;
  font-size: 1.8rem;
}

.about img {
  width: 100%;
}
.about .container {
  max-width: 100%;
}
.about .about-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--first-color);
  align-items: center;
  text-align: center;
}
/* ABOUT MOBILE */

@media (max-width: 519px) {
  .about .about-wrap {
    width: 70vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
}

@media (min-width: 960px) {
  .about .container {
    max-width: 960px;
  }
}
/* SECTION REVIEWS MOBILE */
.reviews {
  margin-top: 25px;
  background-color: var(--help-color);
  padding: 30px 0px;
  font-size: 0.9rem;
}

.reviews .wrap {
  width: 80%;
  margin: auto;
}
.reviews .wrap h3 {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.reviews .wrap img {
  width: 100%;
}

@media (min-width: 520px) {
  .reviews {
    margin-top: 0px;
  }
  .reviews .wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .reviews .wrap img {
    width: 50%;
    margin-right: 15px;
  }
}

@media (min-width: 768px) {
  .reviews {
    background-color: var(--main-color);
  }
  .reviews .wrap {
    background-color: var(--help-color);
    box-sizing: border-box;
    padding: 35px;
  }
  .reviews .wrap img {
    max-width: 30%;
  }
}
/* END REVIEWS */
/* FORM  */
.contact-form {
  background-color: var(--first-color);
  padding: 25px 0px;
}
.contact-form h3 {
  width: 100%;
  text-align: center;
}
.contact-form form label {
  display: none;
}
.contact-form form small {
  font-size: 0.8rem;
  color: var(--help-color);
}
.contact-form form input {
  width: 80%;
  margin-top: 15px;
  padding: 10px;
}
.contact-form form {
  text-align: center;
}
.contact-form form input[type="submit"] {
  background-color: black;
  color: var(--first-color);
  font-size: 1rem;
  border: none;
}

@media (min-width: 648px) {
  .contact-form h3 {
    font-size: 1.3rem;
  }

  .contact-form form label {
    display: inline-block;
  }

  .contact-form form input {
    width: 50%;
  }
  .contact-form form input::placeholder {
    color: transparent;
  }

  .contact-form form .field {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact-form form input[type="submit"] {
    width: 30%;
  }

  .contact-form form input[type="submit"]:hover {
    background-color: var(--help-color);
    color: black;
  }
}
/* END FORM */

/* GOOGLE MAP */
.google-map #map {
  width: 100%;
  height: 40vh;
}

/* END GOOGLE MAP */

/* FOOTER */
footer a {
  text-decoration: none;
}
footer img {
  width: 50px;
}
footer .links {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

footer .container {
  text-align: center;
  padding: 35px 0px;
}
footer .contact,
footer .by {
  color: var(--first-color);
  font-weight: 400;
}
footer .tel {
  font-size: 1.3rem;
  font-weight: 400;
}

@media (min-width: 598px) {
  footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  footer .links {
    width: 30%;
  }

  footer .container .foo .tel {
    margin-bottom: 10px;
  }

  footer img:hover {
    background-color: var(--help-color);
  }
  /* footer .container .foo{
    width: 100%;
    display: flex;
    justify-content: space-between;
  } */
}

/* END FOOTER */
.modal{
position: absolute;
width: 300px;
margin-left: -150px;
left: 50%;
top: -100%;
padding: 20px;
background-color: var(--first-color);
border: 1px solid black;
z-index: 20;
transition: all 0.5s ease-in;
}

.overflow{
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
}